@import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com');
@import url('https://fonts.googleapis.com/css2?family=Changa:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace SC:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

body {
    background: #212631;
}

.nav-button i {
    font-size: 30px;
}

.drop-prof {
    position: absolute;
    top: 4rem;
    right: 5.7rem;
    width: 110px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #58647c;
}

.drop-prof a {
    color: #000;
    text-decoration: none;
    font-size: 21px;
    font-family: Sulphur Point;
}

.drop-prof a:hover {
    text-decoration: underline;
}

.drop-prof li {
    color: #000;
    font-size: 21px;
    font-family: Sulphur Point;
}

.drop-prof::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 0.8rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #fff;
    border-left: 1px solid #58647c;
    border-top: 1px solid #58647c;
}

.nav-button .bx {
    cursor: pointer;
}